<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <i class="fa fa-user-circle-o" aria-hidden="true"></i>
      <br />
      <br />
      <p>
        App built for learning purposes.
        <p>Based off prompt found in <a href="https://github.com/conde-nast-international/cnid-tech-tests">Conde Nast's repo</a>.</p>
        <p>Styling provided by <a href="http://bulma.io">Bulma</a>.</p>
      </p>

    </div>
  </div>
</footer>
